{% extends "base.html" %}

{% block title %}WebBazaarHome - Page{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>.price {
    display: inline-block;
    width: 170%; 
}</style>
<div class="category1 mt-4 pt-1 ml-5 mr-5 pt-3 mb-1 mx-auto " style="background-color: #e4d4c8; width: 1400px;">
    <p class="pb-1  ml-4" style="height: 27px; font-size: 22px;">The best form category {{products[0].category}}</p>

    {% for product in products %}
        <div class="card mr-4 mx-auto" style="max-width: 740px;">
            <div class="row no-gutters">
                <div class="col-md-4" >
                    <img class="card-img-top rounded" src="{{ product.photo_path}}" alt="{{ product.name }}" height="250" width="250">
                    <a href="{{url_for('product', id = product.id)}}" class="stretched-link"></a>

                </div>
                <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title mb-2">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <a href="{{url_for('product', id = product.id)}}" class="stretched-link"></a>
  
                    </div>

                </div>
                <span class="border-left"></span>
              
                <div class="col-md-3">
                    <div class="card-body">
                      <h5 class="card-title ml-5 pl-3 mt-3 mb-4"><span class="price">{{ product.formatted_price }}</span></h5>
                      <button type="submit" form="formm" class="btn btn-outline-danger ml-1 mb-4" style="width: 200px;" id="add-to-cart-button" onclick="window.location.href='{{ url_for('basket', product_number=product.id) }}'">Add to Cart</button>
                      <!-- <button type="button" class="btn btn-outline-danger ml-1 mb-4 " style="width: 200px;" onclick="window.location.href='{{ url_for('basket', product_number=product.id, pieces=1) }}'" >Add to Card</button> -->
                      <button type="button" class="btn btn-outline-danger ml-1 mb-4" style="width: 200px;" onclick="window.location.href='{{ url_for('login', product_number=product.id) }}'">Buy Now</button>
                        
                    </div>
                </div>
                <form method="get" id="formm" action="{{ url_for('basket') }}">

                <div class="form-group ml-2 invisible">
                    <input type="text" name="piec" class="form-control text-center" id="quantity-input" placeholder="How much?" style="width: 70px; height: 48px;" value="1"  >
                    <input type="hidden" name="product_number" value="{{ product.id }}">
                </div>
                </form>
            </div>
            <span class="border-bottom"></span>
        </div>
                        
  {% endfor %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-f9y9qFhCT0GXaKgi9T7x5Up3hQKcW0onkccV+AdJFg/mxGOq1lkqDDUKpPbX39KZ"
  crossorigin="anonymous"></script>
  {%endblock%}