{% extends "base.html" %}

{% block title %}WebBazaarHome - Page{% endblock %}
{% block content %}

<style>

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
 
    .form-control {
        width: 300px;
        margin: 0 auto;
    }
    
</style>
    <div class="container">
        <div class="mx-auto" style="max-width: 400px;">
            <h1 class="text-center mb-4">Login </h1> 
            <form method="post" action="{{url_for('login')}}" class="text-center"> 
                {{ form.hidden_tag() }} 
                <div class="form-group mb-4">
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email(class="form-control") }}
                </div>
                
                <div class="form-group mb-4">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password(class="form-control") }}
                </div>
               
            
                <div class="form-group mb-4">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <span class="border-bottom  border-primary"></span>

                </div>
            </form>
            <span class="border-bottom  border-primary"></span>
            <h6 class="text-center">Do you dont have account? <a href="url_for('signin')">Sign in</a></h6>
            <span class="border-bottom  border-primary"></span>

        </div>
        {% if current_user.is_authenticated %}
<h1>hiiiiiiiiiiiiiiiiii</h1>
{% endif %}
    </div>










{% endblock %}